/* Styling Sheet for Layout_4.html */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 
==========
Header
==========
*/
.header-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;

    background: rgb(102, 118, 138);
}

.header-flex div {
    margin-left: 2em;
}

.header-flex img {
    margin-left: -2em;
}

.header-flex div a {
    color: white;
    text-decoration: none;
}

#second-nav-link {
    margin-left: 1em;
}

header img {
    color: white;
}

#donate-link {
    text-decoration: none;
    padding: 0.5em 1em 0.5em 1em;
    margin-right: 2em;

    border-radius: 0.25em;
    background: white;
    color: rgb(102, 118, 138);
}

/* 
==========
Section 1
==========
*/
.first-section-flex {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 1em;

    background: rgb(102, 118, 138);
    color: white;
}

.first-section-flex p {
    font-size: 1.25em;
    max-width: 60em;
}

.first-section-flex span {
    font-style: italic;
    color: black;
}

/* 
==========
Section 2
==========
*/
.second-section-flex {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.second-section-flex h3 {
    font-size: 30px;
}

.second-section-flex p {
    max-width: 30em;
}

/* 
==========
Section 3
==========
*/
.third-section-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 2.5em;
    padding-bottom: 2.5em;

    background-color: rgb(219, 223, 226);
}

.card-flex {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    max-width: 30em;
    padding: 2em;
}

.card-flex div {
    height: 10em;
    width: 20em;
    background-color: rgb(102, 118, 138);
}
.card-flex a {
    padding: 1.5em 3em;
    margin-top: 1em;
    text-decoration: none;
    

    border: 1px solid black;
    color: rgb(38, 46, 57);
}

/* 
==========
Section Final
==========
*/
.final-section-flex {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.final-section-flex h3 {
    font-size: 30px;
}

.final-section-flex p {
    max-width: 30em;
}

.final-section-flex a {
    padding: 1.5em 3em;
    margin-top: 1em;
    text-decoration: none;
    

    border: 1px solid black;
    color: rgb(38, 46, 57);
}

footer {
    text-align: center;
}
