/* CSS for Simple_Site_Lab.html */


body {
    /* Positioning */
    margin: 0;
    padding: 0;
    
    /* Styling */
    background-color: rgba(135,206,235,255);
}

div {
    /* Positioning */
    position: absolute;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    
    /* Styling */
    border: 4px solid rgba(72,205,49,255);
}

h1 {
    /* Positioning */
    text-align: center;
    
    /* Styling */
    color: white;
    font-size: 36px;
    font-style: italic;
}

h2 {
    /* Positioning */
    margin-left: 2em;
    
    /* Styling */
    color:white;
    font-size: 32px;
}

nav{
    /* Positioning */
    text-align: center;
    
    /* Styling */
    color: white;
    font-size: 24px;
}

a {
    /* Positioning */
    color: rgb(72,205,49);
}

img {
    /* Positioning */
    float: right;
    margin-right: 2em;
    
    /* Styling */
    width: 17%;
    height: 17%;
}

p {
    /* Positioning */
    margin-left: 2em;
    margin-right: 2em;
    
    /* Styling */
    font-size: 24px;
    color: white;
}

span {
    /* Styling */
    color: gray;
}

footer {
    /* Positioning */
    text-align: center;
    margin-bottom: 1.5em;

    /* Styling */
    color: rgb(72,205,49);
    font-size: 24px;
}
